{% load i18n %}

<div class="text-filter">
    <h3>{{ spec.title }}</h3>

    <form method="get">
        {% for key, value in spec.used_parameters.items %}
            {% if key != spec.parameter_name %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <input
            type="text"
            name="{{ spec.parameter_name }}"
            value="{{ spec.value|default_if_none:'' }}"
            placeholder="{% translate 'Filter' %}"
        >

        <button type="submit" class="button">
            {% translate "Apply" %}
        </button>
    </form>
</div>